<table border="3">
    <thead>
        <tr>
            <th>ID</th>
            <th>Nom</th>
            <th> magazin </th>
            <th>Action</th>
        </tr>
    </thead>
    <tbody>
        {% for client in list %} 
            <tr>
                <td>{{ client.id }}</td>
                <td>{{ client.name }}</td> 
                <td>{{ client.market.name }}</td>
                <td><a href="{{ path('app_delete_Client', {id: client.id}) }}">delete</a></td>
            </tr>
        {% else %}
            <tr>
                <td colspan="4">Aucun client trouvé</td>
            </tr>
        {% endfor %}
    </tbody>
</table>
